<p class="text-yellow-200">{{ enemy.name }}</p>
<div class="flex flex-col items-center">
  <p class="pr-2 text-red-500">HP <span class="font-bold">{{ enemy.life}}/{{ enemy.lifeMax }}</span></p>
  <app-life-change-popup *ngIf="enemy.lifeChange != null"
                         class="absolute z-10 flex justify-center space-x-2"
                         [lifeChange]="enemy.lifeChange">
  </app-life-change-popup>
  <div class="w-32 bg-red-900">
    <div class="h-1 bg-red-500" [style]="'width: ' + enemy.lifePercent + '%'"></div>
  </div>
</div>
<div class="flex justify-center space-x-2 pt-3">
  <app-status *ngFor="let buff of enemy.getBuffs()" [status]="buff"></app-status>
  <app-status *ngFor="let debuff of enemy.getDebuffs()" [status]="debuff"></app-status>
</div>
