<p class="text-yellow-200">{{ enemy.name }}</p>
<p class="pr-2 text-red-500">HP <span class="font-bold">{{ enemy.life}}/{{ enemy.lifeMax }}</span></p>
<div class="w-32 bg-red-900">
  <div class="h-1 bg-red-500" [style]="'width: ' + enemy.lifePercent + '%'"></div>
</div>
<div class="flex justify-center space-x-2 pt-3 text-sm">
  <div *ngFor="let buff of enemy.buffs"
       class="border border-green-400 bg-green-900 rounded px-2 py-1 text-green-400">{{ buff }}</div>
  <div *ngFor="let debuff of enemy.debuffs"
       class="border border-red-400 bg-red-900 rounded px-2 py-1 text-red-400">{{ debuff }}</div>
</div>
