<ng-container [ngSwitch]="skill.type">
  <svg *ngSwitchCase="0" class="inline-block" width="16" height="16" viewBox="0 0 100 100">
    <!-- Defense -->
    <circle cx="50" cy="50" r="50" fill="#E5E7EB"/>
    <path d="M 25 35 A 20 30 0 1 0 75 35 Z" fill="none" stroke="#262626" style="stroke-width:10; stroke-linecap: round;"/>
  </svg>
  <svg *ngSwitchCase="1" class="inline-block" width="16" height="16" viewBox="0 0 100 100">
    <!-- Attack -->
    <circle cx="50" cy="50" r="50" fill="#EF4444" />
    <polyline points="25 65 50 25 75 65" stroke="#262626" style="stroke-width: 10; stroke-linecap: round; fill: none;" />
  </svg>
  <svg *ngSwitchCase="2" class="inline-block" width="16" height="16" viewBox="0 0 100 100">
    <!-- Heal -->
    <circle cx="50" cy="50" r="50" fill="#10B981" />
    <line x1="50" y1="20" x2="50" y2="80" stroke="#262626" style="stroke-width:10; stroke-linecap: round;" />
    <line x1="20" y1="50" x2="80" y2="50" stroke="#262626" style="stroke-width:10; stroke-linecap: round;" />
  </svg>
  <svg *ngSwitchCase="3" class="inline-block" width="16" height="16" viewBox="0 0 100 100">
    <!-- Improvement -->
    <circle cx="50" cy="50" r="50" fill="#3B82F6" />
    <path d ="M 20 40 A 20 10 0 1 1 80 40" fill ="none" stroke ="#262626" style="stroke-width:10; stroke-linecap: round;" />
    <path d ="M 20 65 A 20 10 0 1 1 80 65" fill ="none" stroke ="#262626" style="stroke-width:10; stroke-linecap: round;" />
  </svg>
  <svg *ngSwitchCase="4" class="inline-block" width="16" height="16" viewBox="0 0 100 100">
    <!-- Deterioration -->
    <circle cx="50" cy="50" r="50" fill="#8B5CF6" />
    <path d ="M 20 35 A 20 10 0 1 0 80 35" fill ="none" stroke ="#262626" style="stroke-width:10; stroke-linecap: round;" />
    <path d ="M 20 60 A 20 10 0 1 0 80 60" fill ="none" stroke ="#262626" style="stroke-width:10; stroke-linecap: round;" />
  </svg>
</ng-container>
