<ng-container [ngSwitch]="skill.type">
  <svg *ngSwitchCase="0" class="inline-block" width="16" height="16" viewBox="0 0 100 100">
    <!-- Defense -->
    <circle cx="50" cy="50" r="40" stroke="#E5E7EB" stroke-width="10" fill="#E5E7EB"/>
    <path d="M 30 40 A 20 30 0 1 0 70 40 Z" fill="none" stroke="#262626"
          style="stroke-width:10; stroke-linecap: round;"/>
  </svg>
  <svg *ngSwitchCase="1" class="inline-block" width="16" height="16" viewBox="0 0 100 100">
    <!-- Attack -->
    <circle cx="50" cy="50" r="40" stroke="#EF4444" stroke-width="10" fill="#EF4444"/>
    <polyline points="30 60 50 30 70 60" stroke="#262626"
              style="stroke-width: 10; stroke-linecap: round; fill: none;"/>
  </svg>
  <svg *ngSwitchCase="2" class="inline-block" width="16" height="16" viewBox="0 0 100 100">
    <!-- Heal -->
    <circle cx="50" cy="50" r="40" stroke="#10B981" stroke-width="10" fill="#10B981"/>
    <line x1="50" y1="30" x2="50" y2="70" stroke="#262626" style="stroke-width:10; stroke-linecap: round;"/>
    <line x1="30" y1="50" x2="70" y2="50" stroke="#262626" style="stroke-width:10; stroke-linecap: round;"/>
  </svg>
  <svg *ngSwitchCase="3" class="inline-block" width="16" height="16" viewBox="0 0 100 100">
    <!-- Improvement -->
    <circle cx="50" cy="50" r="40" stroke="#3B82F6" stroke-width="10" fill="#3B82F6"/>
    <path d="M 30 40 A 20 10 0 1 1 70 40" fill="none" stroke="#262626"
          style="stroke-width:10; stroke-linecap: round;"/>
    <path d="M 30 65 A 20 10 0 1 1 70 65" fill="none" stroke="#262626"
          style="stroke-width:10; stroke-linecap: round;"/>
  </svg>
  <svg *ngSwitchCase="4" class="inline-block" width="16" height="16" viewBox="0 0 100 100">
    <!-- Deterioration -->
    <circle cx="50" cy="50" r="40" stroke="#8B5CF6" stroke-width="10" fill="#8B5CF6"/>
    <path d="M 30 35 A 20 10 0 1 0 70 35" fill="none" stroke="#262626"
          style="stroke-width:10; stroke-linecap: round;"/>
    <path d="M 30 60 A 20 10 0 1 0 70 60" fill="none" stroke="#262626"
          style="stroke-width:10; stroke-linecap: round;"/>
  </svg>
</ng-container>
