<div class="grid grid-cols-5 gap-8">

  <!-- Turn order -->

  <div class="border border-gray-700 bg-gray-800 p-4 h-full">
    <div class="flex justify-center">
      <p>Turn order</p>
    </div>

    <hr class="border-gray-700 my-4">

    <p *ngFor="let creature of fight.turnOrder.currentOrder; index as i" class="p-1"
       [ngClass]="{ 'text-yellow-200': creature.isEnemy(), 'text-gray-500': creature.isEndOfRound() }">
      {{ creature.name }}</p>
  </div>

  <div class="col-span-3">

    <!-- Enemies -->

    <div class="border border-gray-700 bg-gray-800 p-4">

      <ng-container *ngFor="let row of fight.opposition.rows; index as i">
        <div class="flex justify-center space-x-6 h-28">
          <app-enemy
            *ngFor="let enemy of fight.opposition.rows[fight.opposition.rows.length - i - 1].enemies"
            class="border p-2 flex flex-col items-center"
            [enemy]="enemy"
            [ngClass]="[getEnemyBorderClass(enemy), usePointerForStep(4)]"
            (mouseenter)="fightService.enterEnemy(enemy)"
            (mouseleave)="fightService.leaveEnemy()"
            (click)="fightService.selectEnemy(enemy)">
          </app-enemy>
        </div>

        <hr *ngIf="i < 2" class="border-gray-700 my-4">
      </ng-container>
    </div>

    <!-- Party -->

    <div *ngFor="let row of fight.party.rows; index as r" class="flex justify-center space-x-4"
         [ngClass]="{ 'pb-4 mt-8': r == 0}">
      <app-character *ngFor="let character of row.characters"
                     class="border w-1/3 bg-gray-800 p-4 h-36"
                     [character]="character"
                     [ngClass]="[getCharacterBorderClass(character), usePointerForStep(5)]"
                     (mouseenter)="fightService.enterCharacter(character)"
                     (mouseleave)="fightService.leaveCharacter()"
                     (click)="fightService.selectCharacter(character)">
      </app-character>
    </div>
  </div>

  <div class="row-span-2 flex flex-col space-y-8">

    <!-- Available skills -->

    <div class="flex-1 border border-gray-700 bg-gray-800 p-4">
      <div class="flex justify-center">
        <p>Skills</p>
      </div>

      <hr class="border-gray-700 my-4">

      <div *ngFor="let skill of fight.activeCreature?.skills" class="border p-1 flex justify-between"
           [ngClass]="[getSkillBorderClass(skill), usePointerForStep(3)]"
           (mouseenter)="fightService.enterSkill(skill)"
           (mouseleave)="fightService.leaveSkill()"
           (click)="fightService.selectSkill(skill)">
        <p>{{ skill.name }}</p>
        <p>{{ skill.cost > 0 ? skill.cost : '' }}</p>
      </div>
    </div>

    <!-- Focused skill -->

    <div class="flex-1 border border-gray-700 bg-gray-800 p-4">
      <div *ngIf="fight.focusedSkill != null">
        <div class="flex justify-center">
          <p>{{ fight.focusedSkill.name }}</p>
        </div>

        <hr class="border-gray-700 my-4">

        <div class="flex">
          <p class="flex-1 text-gray-500">Cost</p>
          <p class="flex-1">{{ fight.focusedSkill.cost > 0 ? fight.focusedSkill.cost : 0 }}</p>
        </div>
        <div class="flex">
          <p class="flex-1 text-gray-500">Range</p>
          <p class="flex-1">{{ fight.focusedSkill.range }}</p>
        </div>
        <div class="flex">
          <p class="flex-1 text-gray-500">Cooldown</p>
          <p class="flex-1">{{ fight.focusedSkill.coolDown }}</p>
        </div>

        <hr class="border-gray-700 my-4">

        <p>{{ fight.focusedSkill.description }}</p>
      </div>
    </div>
  </div>

  <!-- Logs -->

  <div class="col-span-4 border border-gray-700 bg-gray-800 text-gray-500 p-4">
    <div class="h-48 overflow-y-scroll" #logFrame>
      <app-log *ngFor="let log of fightService.logs" [log]="log" #log></app-log>
    </div>
  </div>
</div>
