<div class="grid grid-cols-5 gap-8">

  <!-- Turn order -->

  <div class="border border-gray-700 bg-gray-800 p-4 h-full">
    <div class="flex justify-center">
      <p>Turn order</p>
    </div>

    <hr class="border-gray-700 my-4">

    <p *ngFor="let creature of turnOrder.currentOrder; index as i"
       class="border p-1"
       [ngClass]="{ 'border-gray-200': i == 0, 'border-gray-800': i != 0, 'text-yellow-200': !creature.isCharacter }">
      {{ creature.name }}</p>
    <p class="border border-gray-800 p-1 text-gray-500">- Next turn -</p>
  </div>

  <div class="col-span-3">
    <!-- Enemies -->

    <div class="border border-gray-700 bg-gray-800 p-4">

      <!-- Row 3 -->

      <div class="flex justify-center space-x-6 h-28">
        <app-enemy *ngFor="let enemy of opposition.row3Enemies" [enemy]="enemy"
                   class="border p-2 flex flex-col items-center"
                   [ngClass]="[getEnemyBorderClass(enemy), usePointerForStep(3)]"
                   (click)="selectEnemy(enemy)">
        </app-enemy>
      </div>

      <hr class="border-gray-700 my-4">

      <!-- Row 2 -->

      <div class="flex justify-center space-x-6 h-28">
        <app-enemy *ngFor="let enemy of opposition.row2Enemies" [enemy]="enemy"
                   class="border p-2 flex flex-col items-center"
                   [ngClass]="[getEnemyBorderClass(enemy), usePointerForStep(3)]"
                   (click)="selectEnemy(enemy)">
        </app-enemy>
      </div>

      <hr class="border-gray-700 my-4">

      <!-- Row 1 -->

      <div class="flex justify-center space-x-6 h-28">
        <app-enemy *ngFor="let enemy of opposition.row1Enemies" [enemy]="enemy"
                   class="border p-2 flex flex-col items-center"
                   [ngClass]="[getEnemyBorderClass(enemy), usePointerForStep(3)]"
                   (click)="selectEnemy(enemy)">
        </app-enemy>
      </div>
    </div>

    <!-- Party -->

    <div class="flex justify-center space-x-4 pb-4 mt-8">

      <!-- Row 1 characters -->

      <app-character *ngFor="let character of party.row1Characters" [character]="character"
                     class="border w-1/3 bg-gray-800 p-4 h-36"
                     [ngClass]="[getCharacterBorderClass(character), usePointerForStep(4)]">
      </app-character>
    </div>

    <div class="flex justify-center space-x-4">

      <!-- Row 2 characters -->

      <app-character *ngFor="let character of party.row2Characters" [character]="character"
                     class="border w-1/3 bg-gray-800 p-4 h-36"
                     [ngClass]="[getCharacterBorderClass(character), usePointerForStep(4)]">
      </app-character>
    </div>
  </div>

  <div class="row-span-2 flex flex-col space-y-8">

    <!-- Skills -->

    <div class="flex-1 border border-gray-700 bg-gray-800 p-4">
      <div class="flex justify-center">
        <p>Skills</p>
      </div>

      <hr class="border-gray-700 my-4">

      <div *ngFor="let skill of selectedCharacter?.skills" class="border p-1 flex justify-between"
           [ngClass]="[getSkillBorderClass(skill), usePointerForStep(2)]"
           (click)="selectSkill(skill)">
        <p>{{ skill.name }}</p>
        <p>{{ skill.cost > 0 ? skill.cost : '' }}</p>
      </div>
    </div>

    <!-- Selected skill -->

    <div class="flex-1 border border-gray-700 bg-gray-800 p-4">
      <div class="flex justify-center">
        <p>Venom</p>
      </div>

      <hr class="border-gray-700 my-4">

      <div class="flex">
        <p class="flex-1 text-gray-500">Cost</p>
        <p class="flex-1">15</p>
      </div>
      <div class="flex">
        <p class="flex-1 text-gray-500">Range</p>
        <p class="flex-1">1</p>
      </div>
      <div class="flex">
        <p class="flex-1 text-gray-500">Cooldown</p>
        <p class="flex-1">0</p>
      </div>

      <hr class="border-gray-700 my-4">

      <p>Hits the target for 100% WD and inflicts a
        poison DOT of 60% WD over 3 turns. </p>
    </div>
  </div>

  <!-- Logs -->

  <app-logs class="col-span-4 border border-gray-700 bg-gray-800 text-gray-500 h-60 p-4"></app-logs>
</div>
