<div class="grid grid-cols-5 gap-8">

  <!-- Turn order -->

  <div class="border border-gray-700 bg-gray-800 p-4 h-full">
    <div class="flex justify-center">
      <p>Turn order</p>
    </div>

    <hr class="border-gray-700 my-4">

    <p *ngFor="let creature of turnOrder.currentOrder; index as i" class="p-1"
       [ngClass]="{ 'text-yellow-200': creature.isEnemy(), 'text-gray-500': creature.isEndOfRound() }">
      {{ creature.name }}</p>
  </div>

  <div class="col-span-3">
    <!-- Enemies -->

    <div class="border border-gray-700 bg-gray-800 p-4">

      <!-- Row 3 -->

      <div class="flex justify-center space-x-6 h-28">
        <app-enemy *ngFor="let enemy of opposition.row3Enemies" [enemy]="enemy"
                   class="border p-2 flex flex-col items-center"
                   [ngClass]="[getEnemyBorderClass(enemy), usePointerForStep(4)]"
                   (click)="selectEnemy(enemy)">
        </app-enemy>
      </div>

      <hr class="border-gray-700 my-4">

      <!-- Row 2 -->

      <div class="flex justify-center space-x-6 h-28">
        <app-enemy *ngFor="let enemy of opposition.row2Enemies" [enemy]="enemy"
                   class="border p-2 flex flex-col items-center"
                   [ngClass]="[getEnemyBorderClass(enemy), usePointerForStep(4)]"
                   (click)="selectEnemy(enemy)">
        </app-enemy>
      </div>

      <hr class="border-gray-700 my-4">

      <!-- Row 1 -->

      <div class="flex justify-center space-x-6 h-28">
        <app-enemy *ngFor="let enemy of opposition.row1Enemies" [enemy]="enemy"
                   class="border p-2 flex flex-col items-center"
                   [ngClass]="[getEnemyBorderClass(enemy), usePointerForStep(4)]"
                   (click)="selectEnemy(enemy)">
        </app-enemy>
      </div>
    </div>

    <!-- Party -->

    <div class="flex justify-center space-x-4 pb-4 mt-8">

      <!-- Row 1 characters -->

      <app-character *ngFor="let character of party.row1Characters" [character]="character"
                     class="border w-1/3 bg-gray-800 p-4 h-36"
                     [ngClass]="[getCharacterBorderClass(character), usePointerForStep(5)]">
      </app-character>
    </div>

    <div class="flex justify-center space-x-4">

      <!-- Row 2 characters -->

      <app-character *ngFor="let character of party.row2Characters" [character]="character"
                     class="border w-1/3 bg-gray-800 p-4 h-36"
                     [ngClass]="[getCharacterBorderClass(character), usePointerForStep(5)]">
      </app-character>
    </div>
  </div>

  <div class="row-span-2 flex flex-col space-y-8">

    <!-- Available skills -->

    <div class="flex-1 border border-gray-700 bg-gray-800 p-4">
      <div class="flex justify-center">
        <p>Skills</p>
      </div>

      <hr class="border-gray-700 my-4">

      <div *ngFor="let skill of activeCharacter?.skills" class="border p-1 flex justify-between"
           [ngClass]="[getSkillBorderClass(skill), usePointerForStep(3)]"
           (mouseenter)="focusSkill(skill)"
           (click)="selectSkill(skill)">
        <p>{{ skill.name }}</p>
        <p>{{ skill.cost > 0 ? skill.cost : '' }}</p>
      </div>
    </div>

    <!-- Focused skill -->

    <div class="flex-1 border border-gray-700 bg-gray-800 p-4">
      <div *ngIf="focusedSkill != null">
        <div class="flex justify-center">
          <p>{{ focusedSkill.name }}</p>
        </div>

        <hr class="border-gray-700 my-4">

        <div class="flex">
          <p class="flex-1 text-gray-500">Cost</p>
          <p class="flex-1">{{ focusedSkill.cost }}</p>
        </div>
        <div class="flex">
          <p class="flex-1 text-gray-500">Range</p>
          <p class="flex-1">{{ focusedSkill.range }}</p>
        </div>
        <div class="flex">
          <p class="flex-1 text-gray-500">Cooldown</p>
          <p class="flex-1">{{ focusedSkill.coolDown }}</p>
        </div>

        <hr class="border-gray-700 my-4">

        <p>{{ focusedSkill.description }}</p>
      </div>
    </div>
  </div>

  <!-- Logs -->

  <div class="col-span-4 border border-gray-700 bg-gray-800 text-gray-500 p-4">
    <div class="h-48 overflow-y-scroll" #logFrame>
    <app-log *ngFor="let log of logs" [log]="log" #log></app-log>
    </div>
  </div>
</div>
