<div>
  @switch (message.type) {
    @case (this.messageType.BASIC_MESSAGE) {
      <div>
        {{ message.getItem(0) }}
      </div>
    }
    @case (this.messageType.ENTER_ZONE) {
      <div>
        Entering
        <app-message-item [item]="message.getItem(0)"></app-message-item>.
      </div>
    }
    @case (this.messageType.OPPOSITION_APPEAR) {
      <div>
        The party encounters
        <app-message-item [item]="message.getItem(0)"></app-message-item>.
      </div>
    }
    @case (this.messageType.START_ROUND) {
      <div>
        Round
        <app-message-item [item]="message.getItem(0)"></app-message-item>
        starts.
      </div>
    }
    @case (this.messageType.ADVANCE) {
      <div>
        <app-message-item [item]="message.getItem(0)"></app-message-item>
        advances.
      </div>
    }
    @case (this.messageType.WAIT) {
      <div>
        <app-message-item [item]="message.getItem(0)"></app-message-item>
        waits.
      </div>
    }
    @case (this.messageType.LEAVE) {
      <div>
        <app-message-item [item]="message.getItem(0)"></app-message-item>
        leaves the fight.
      </div>
    }
    @case (this.messageType.SKILL) {
      <div>
        <app-message-item [item]="message.getItem(0)"></app-message-item>
        uses
        <app-message-item [item]="message.getItem(1)"></app-message-item>.
      </div>
    }
    @case (this.messageType.SKILL_WITH_TARGET) {
      <div>
        <app-message-item [item]="message.getItem(0)"></app-message-item>
        uses
        <app-message-item [item]="message.getItem(1)"></app-message-item>
        on
        <app-message-item [item]="message.getItem(2)"></app-message-item>.
      </div>
    }
    @case (this.messageType.SKILL_WITH_TARGET_AND_LIFE_CHANGE) {
      <div>
        <app-message-item [item]="message.getItem(0)"></app-message-item>
        uses
        <app-message-item [item]="message.getItem(1)"></app-message-item>
        on
        <app-message-item [item]="message.getItem(2)"></app-message-item>
        for
        <app-message-item [item]="message.getItem(3)"></app-message-item>.
      </div>
    }
    @case (this.messageType.DOT) {
      <div>
        <app-message-item [item]="message.getItem(0)"></app-message-item>
        looses
        <app-message-item [item]="message.getItem(1)"></app-message-item>.
      </div>
    }
    @case (this.messageType.HOT) {
      <div>
        <app-message-item [item]="message.getItem(0)"></app-message-item>
        gains
        <app-message-item [item]="message.getItem(1)"></app-message-item>.
      </div>
    }
    @case (this.messageType.ENEMY_DEFEAT) {
      <div>
        <app-message-item [item]="message.getItem(0)"></app-message-item>
        is defeated.
      </div>
    }
    @case (this.messageType.PAUSE_DURATION_CHANGED) {
      <div>
        Using pause of
        <app-message-item [item]="message.getItem(0)"></app-message-item>
        msec.
      </div>
    }
  }
</div>
