<div class="flex justify-center text-lg font-bold" [ngClass]="{ 'text-gray-500': character.isDead() }">
  <p>
    <app-class-icon [creature]="character"></app-class-icon>
    {{ character.name }}
  </p>
</div>
<div class="flex justify-around pt-2">
  <div class="flex flex-col items-center">
    <p class="pr-2" [ngClass]="character.isAlive() ? 'text-green-400' : 'text-green-900'">
      HP <span class="font-bold">{{ character.life }}/{{ character.lifeMax }}</span>
    </p>
    <div class="w-28 bg-green-900">
      <div class="h-1 bg-green-500" [style]="'width: ' + character.lifePercent + '%'"></div>
    </div>
    <div class="absolute z-10 flex justify-center space-x-2">
      <app-life-change-popup *ngFor="let lifeChange of character.lifeChanges" class="appear" [lifeChange]="lifeChange">
      </app-life-change-popup>
    </div>
  </div>
  <div *ngIf="!character.useMana" class="flex flex-col items-center">
    <p class="pl-2" [ngClass]="character.isAlive() ? 'text-purple-400' : 'text-purple-900'">
      TP <span class="font-bold">{{ character.energy }}/{{ character.energyMax }}</span>
    </p>
    <div class="w-28 bg-purple-900">
      <div class="h-1" [ngClass]="character.isAlive() ? 'bg-purple-500' : 'bg-purple-900'"
           [style]="'width: ' + character.energyPercent + '%'"></div>
    </div>
  </div>
  <div *ngIf="character.useMana" class="flex flex-col items-center">
    <p class="pl-2" [ngClass]="character.isAlive() ? 'text-blue-400' : 'text-blue-900'">
      MP <span class="font-bold">{{ character.energy }}/{{ character.energyMax }}</span>
    </p>
    <div class="w-28 bg-blue-900">
      <div class="h-1" [ngClass]="character.isAlive() ? 'bg-blue-500' : 'bg-blue-900'"
           [style]="'width: ' + character.energyPercent + '%'"></div>
    </div>
  </div>
</div>
<div class="flex justify-center space-x-1 pt-4">
  <app-status *ngFor="let statusApplication of character.getPositiveActiveStatuses()"
              [statusApplication]="statusApplication"></app-status>
  <app-status *ngFor="let statusApplication of character.getNegativeActiveStatuses()"
              [statusApplication]="statusApplication"></app-status>
</div>
