<ng-container [ngSwitch]="status.name">
  <svg *ngSwitchCase="0" class="inline-block" width="24" height="24" viewBox="0 0 100 100">
    <!-- Defend -->
    <rect width="100" height="100" style="fill:#10B981;" />
    <path d="M 20 20 A 20 40 0 1 0 80 20 Z" fill="none" stroke="#262626" style="stroke-width: 10; stroke-linecap: round;"/>
  </svg>
  <svg *ngSwitchCase="1" class="inline-block" width="24" height="24" viewBox="0 0 100 100">
    <!-- Bleed -->
    <rect width="100" height="100" style="fill:#EF4444;" />
    <polyline points="35 50 50 25 65 50" stroke="#262626" style="stroke-width: 10; stroke-linecap: round; fill: none;" />
    <path d="M 35 50 A 18 20 0 1 0 65 50" fill="none" stroke="#262626" style="stroke-width: 10; stroke-linecap: round;"/>
  </svg>
  <svg *ngSwitchCase="2" class="inline-block" width="24" height="24" viewBox="0 0 100 100">
    <!-- Poison -->
    <rect width="100" height="100" style="fill:#EF4444;" />
    <circle cx="40" cy="25" r="10" fill="#262626"/>
    <circle cx="70" cy="45" r="15" fill="#262626"/>
    <circle cx="30" cy="65" r="20" fill="#262626"/>
  </svg>
</ng-container>
