<div class="container mx-auto">
  <div class="flex items-center pt-4 pb-4">
    <div class="flex-1 flex justify-start">
      <p class="text-4xl font-bold" (click)="fightService.executeSandbox()">Draconis</p>
    </div>
    <div class="flex-1 flex justify-center">
      <div *ngIf="fightService.getProceedMessage() != null">
        <button class="text-white bg-blue-500 font-bold px-4 py-2 rounded" (click)="fightService.proceed()">
          {{fightService.getProceedMessage()}}
        </button>
      </div>
    </div>
    <div class="flex-1 flex justify-end">
      <div class="text-xl">
        {{ fightService.game.region }}
        <span *ngIf="fightService.game.oppositionId > 0">
          <span class="text-gray-500">/ Fight </span> {{ fightService.game.oppositionId }}
        </span>
      </div>
    </div>
  </div>

  <app-fight></app-fight>

  <router-outlet></router-outlet>
</div>
