<div [ngSwitch]="log.type">
  <div *ngSwitchCase="this.logType.BASIC_LOG">
    {{ log.string }}
  </div>
  <div *ngSwitchCase="this.logType.ENTER_ZONE">
    Entering <app-log-item [item]="log.string"></app-log-item>.
  </div>
  <div *ngSwitchCase="this.logType.OPPOSITION_APPEAR">
    The party encounters <app-log-item [item]="log.string"></app-log-item>.
  </div>
  <div *ngSwitchCase="this.logType.START_ROUND">
    Round <app-log-item [item]="log.number"></app-log-item> starts.
  </div>
  <div *ngSwitchCase="this.logType.ADVANCE">
    <app-log-item [item]="log.activeCreature"></app-log-item> advances.
  </div>
  <div *ngSwitchCase="this.logType.WAIT">
    <app-log-item [item]="log.activeCreature"></app-log-item> waits.
  </div>
  <div *ngSwitchCase="this.logType.LEAVE">
    <app-log-item [item]="log.activeCreature"></app-log-item> leaves the fight.
  </div>
  <div *ngSwitchCase="this.logType.SKILL">
    <app-log-item [item]="log.activeCreature"></app-log-item>
    uses <app-log-item [item]="log.skill"></app-log-item>.
  </div>
  <div *ngSwitchCase="this.logType.SKILL_WITH_TARGET">
    <app-log-item [item]="log.activeCreature"></app-log-item>
    uses <app-log-item [item]="log.skill"></app-log-item>
    on <app-log-item [item]="log.creature2"></app-log-item>.
  </div>
  <div *ngSwitchCase="this.logType.SKILL_WITH_TARGET_AND_LIFE_CHANGE">
    <app-log-item [item]="log.activeCreature"></app-log-item>
    uses <app-log-item [item]="log.skill"></app-log-item>
    on <app-log-item [item]="log.creature2"></app-log-item>
    for <app-log-item [item]="log.lifeChange1"></app-log-item>.
  </div>
  <div *ngSwitchCase="this.logType.DAMAGE">
    <app-log-item [item]="log.activeCreature"></app-log-item>
    damages <app-log-item [item]="log.creature2"></app-log-item>
    for <app-log-item [item]="log.lifeChange1"></app-log-item>.
  </div>
  <div *ngSwitchCase="this.logType.DAMAGE_AND_HEAL">
    <app-log-item [item]="log.activeCreature"></app-log-item>
    damages <app-log-item [item]="log.creature2"></app-log-item>
    for <app-log-item [item]="log.lifeChange1"></app-log-item>
    and gains <app-log-item [item]="log.lifeChange2"></app-log-item>.
  </div>
  <div *ngSwitchCase="this.logType.DAMAGE_AND_DAMAGE">
    <app-log-item [item]="log.activeCreature"></app-log-item>
    damages <app-log-item [item]="log.creature2"></app-log-item>
    for <app-log-item [item]="log.lifeChange1"></app-log-item>
    and looses <app-log-item [item]="log.lifeChange2"></app-log-item>.
  </div>
  <div *ngSwitchCase="this.logType.DOT">
    <app-log-item [item]="log.activeCreature"></app-log-item>
    looses a total of <app-log-item [item]="log.lifeChange1"></app-log-item>.
  </div>
  <div *ngSwitchCase="this.logType.HOT">
    <app-log-item [item]="log.activeCreature"></app-log-item>
    gains a total of <app-log-item [item]="log.lifeChange1"></app-log-item>.
  </div>
  <div *ngSwitchCase="this.logType.ENEMY_DEFEAT">
    <app-log-item [item]="log.activeCreature"></app-log-item> is defeated.
  </div>
  <div *ngSwitchCase="this.logType.PAUSE_DURATION_CHANGED">
    Using pause of <app-log-item [item]="log.number"></app-log-item> msec.
  </div>
  <div *ngSwitchCase="this.logType.GENERIC_MESSAGE">
    {{ log.string }}
  </div>
</div>
